In [3]:
7/4

1.75

In [5]:
2**4

16

In [6]:
(2+10)*(10+3)

156

In [8]:
a = 3.1
type(a)

float

Escape sequences start with a \

In [10]:
print('hello \nworld')

hello
world

In [12]:
my_string = 'Hello World'
my_string

'Hello World'

In [13]:
my_string[0]

'H'

In [14]:
my_string[8]

'r'

In [15]:
my_string[-2]

'l'

Stop index is exclusive

In [16]:
my_string[1:3]

'el'

In [18]:
my_string[::2]

'HloWrd'

In [19]:
my_string[0:6:2]

'Hlo'

In [20]:
## reverse string
my_string[::-1]

'dlroW olleH'

In [21]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [22]:
x = 'Hello World'

In [23]:
x.upper()

'HELLO WORLD'

In [24]:
x.split()

['Hello', 'World']

In [25]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [27]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [28]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [29]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [31]:
result = 100/777
result

0.1287001287001287

Float formatting follows "{value:width.precision}"

In [35]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [37]:
name = "Gurjot"
age = 24
print(f"His name is {name} and he is {age} years old")

His name is Gurjot and he is 24 years old

In [39]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [42]:
my_list.append(5)
my_list.pop()

5

In [43]:
new_list = ['a', 'e', 'c', 'x', 'b']

In [44]:
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [45]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [47]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [48]:
my_dict['key1']

'value1'

In [49]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}
prices_lookup['apple']

2.99

In [50]:
prices_lookup['chicken_breast'] = 5.99
prices_lookup

{'apple': 2.99, 'oranges': 1.99, 'milk': 5.8, 'chicken_breast': 5.99}

In [53]:
prices_lookup.keys()
prices_lookup.items()
prices_lookup.values()

dict_values([2.99, 1.99, 5.8, 5.99])

In [54]:
t = (1, 2, 3)
mylist = [1, 2, 3]

In [57]:
t.index(1)

0

In [58]:
my_set = set()
my_set.add(1)

In [59]:
my_set

{1}

In [60]:
%%writefile myfile.txt
Hello this is a text file
This is the second line
this is the third line

Writing myfile.txt

In [62]:
myfile = open('myfile.txt')

In [63]:
pwd

'/Users/gdhanda23/Documents/GitHub/Complete-Python-3-Bootcamp/Gurjots Notebooks'

In [64]:
myfile.read()

'Hello this is a text file\nThis is the second line\nthis is the third line\n'

In [65]:
myfile.seek(0)

0

In [66]:
myfile.readlines()

['Hello this is a text file\n',
 'This is the second line\n',
 'this is the third line\n']

In [67]:
myfile.close()

In [70]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()
    my_new_file.close()

In [71]:
contents

'Hello this is a text file\nThis is the second line\nthis is the third line\n'

In [ ]:
with open('myfile.txt', mode='r') as myfile:
    contents = myfile.read()

In [72]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [75]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [74]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [76]:
with open('new_file.txt', mode='w') as f:
    f.write('I CREATED THIS FILE')

In [77]:
with open('new_file.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE