In [3]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('I AM NOT HUNGRY')

I AM NOT HUNGRY

In [5]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool')
elif loc == 'Bank':
    print('Money is cool')
else:
    print('I dont know where I am')

Money is cool

In [7]:
mylist = [1, 2, 3, 4, 5,6,7,8,9,10]

In [8]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number: ', num)

Odd Number:  1
2
Odd Number:  3
4
Odd Number:  5
6
Odd Number:  7
8
Odd Number:  9
10

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [12]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [15]:
mylist = [(1,2), (2,3), (4,5)]

for a, b in mylist:
    print(a)
    print(b)

1
2
2
3
4
5

In [17]:
mylist = [(1,2,3), (4,5,6), (7,8,9)]

In [18]:
for a,b,c in mylist:
    print(b)

2
5
8

In [22]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d.values():
    print(item)

1
2
3

In [24]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [25]:
x = [1, 2, 3]

for item in x:
    pass

In [26]:
mystring = 'Sammy'

In [29]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [31]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x = x + 1

0
1

In [35]:
for num in range(0,10, 2):
    print(num)

0
2
4
6
8

In [36]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [38]:
index_count = 0
word = 'abcde'

for letter in word:
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [40]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [42]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

In [43]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [44]:
mylist = [10, 20, 30, 40, 100]
min(mylist)
max(mylist)

100

In [45]:
from random import shuffle

In [49]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [51]:
shuffle(mylist)

In [52]:
mylist

[3, 4, 2, 5, 10, 1, 9, 6, 8, 7]

In [54]:
mystring = 'hello'

In [55]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [56]:
mylist

['h', 'e', 'l', 'l', 'o']

In [57]:
mylist = [letter for letter in mystring]

In [58]:
mylist

['h', 'e', 'l', 'l', 'o']

In [59]:
mylist = [x for x in 'word']

In [60]:
mylist

['w', 'o', 'r', 'd']

In [63]:
mylist = [num**2 for num in range(0, 11)]

In [64]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
mylist = [x for x in range(0, 11) if x%2==0]

SyntaxError: invalid syntax (3921686633.py, line 1)

In [66]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [68]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [69]:
results = [x if x%2==0 else 'ODD' for x in range(0, 11)]

In [70]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [71]:
mylist = []

for x in [2, 4, 6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [72]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [73]:
mylist = [x*y for x in [2,4,6] for y in [100, 200, 300]]

In [74]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]